<%- include('partials/head'); -%>

<div class="login-wrapper">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div>
      <h2>LOGIN</h2>
    </div>

    <!-- Login Form -->
    <form action="login" method="post">
      <input type="text" id="username" name="username" placeholder="Username">
      <input type="password" id="password" name="password" placeholder="Password">
      <input type="submit" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p class="error"><% if (exitcode != 200) {%>
        Failed to login. <%= message %>.
      <% } %></p>
    </div>

  </div>
</div>
<%- include('partials/footer'); -%>
